*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.sass-cache
.bundle
.jekyll-metadata
.jekyll-cache/
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/plugins/draft-indicator/main.js
.obsidian/plugins/draft-indicator/manifest.json
.obsidian/plugins/draft-indicator/styles.css
.obsidian/plugins/obsidian-auto-link-title/data.json
.obsidian/plugins/obsidian-auto-link-title/main.js
.obsidian/plugins/obsidian-auto-link-title/manifest.json
.obsidian/plugins/obsidian-auto-link-title/styles.css
.obsidian/plugins/tag-wrangler/main.js
.obsidian/plugins/tag-wrangler/manifest.json
.obsidian/themes/Minimal/manifest.json
.obsidian/themes/Minimal/theme.css
.obsidian/workspace.json
.obsidian/backlink.json
.obsidian/plugins/obsidian-style-settings/main.js
.obsidian/plugins/obsidian-style-settings/manifest.json
.obsidian/plugins/obsidian-style-settings/styles.css
.obsidian/themes/Dracula for Obsidian/manifest.json
.obsidian/themes/Dracula for Obsidian/theme.css
.obsidian/plugins/calendar/data.json
.obsidian/plugins/calendar/main.js
.obsidian/plugins/calendar/manifest.json
.obsidian/plugins/obsidian-full-calendar/data.json
.obsidian/plugins/obsidian-full-calendar/main.js
.obsidian/plugins/obsidian-full-calendar/manifest.json
.obsidian/plugins/obsidian-full-calendar/styles.css
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/recent-files-obsidian/main.js
.obsidian/plugins/recent-files-obsidian/manifest.json
.obsidian/plugins/recent-files-obsidian/styles.css
.obsidian/templates.json
_basees/Posts.md
_templates/Post Template.md
_templates/Posts.base
.obsidian/bookmarks.json
To Do.md
.obsidian/graph.json
.obsidian/plugins/obsidian-outliner/main.js
.obsidian/plugins/obsidian-outliner/manifest.json
.obsidian/plugins/obsidian-outliner/styles.css
.obsidian/plugins/obsidian-tasks-plugin/main.js
.obsidian/plugins/obsidian-tasks-plugin/manifest.json
.obsidian/plugins/obsidian-tasks-plugin/styles.css
.obsidian/themes/Things/manifest.json
.obsidian/themes/Things/theme.css
.obsidian/types.json
.obsidian/plugins/cm-typewriter-scroll-obsidian/main.js
.obsidian/plugins/cm-typewriter-scroll-obsidian/manifest.json
.obsidian/plugins/cm-typewriter-scroll-obsidian/styles.css
.obsidian/plugins/link-favicon/main.js
.obsidian/plugins/link-favicon/manifest.json
.obsidian/plugins/link-favicon/styles.css
.obsidian/plugins/mononote/main.js
.obsidian/plugins/mononote/manifest.json
.obsidian/plugins/ninja-cursor/main.js
.obsidian/plugins/ninja-cursor/manifest.json
.obsidian/plugins/ninja-cursor/styles.css
.obsidian/plugins/nldates-obsidian/main.js
.obsidian/plugins/nldates-obsidian/manifest.json
.obsidian/plugins/obsidian-doubleshift/main.js
.obsidian/plugins/obsidian-doubleshift/manifest.json
.obsidian/plugins/obsidian-linter/data.json
.obsidian/plugins/obsidian-linter/main.js
.obsidian/plugins/obsidian-linter/manifest.json
.obsidian/plugins/obsidian-linter/styles.css
.obsidian/plugins/obsidian-minimal-settings/data.json
.obsidian/plugins/obsidian-minimal-settings/main.js
.obsidian/plugins/obsidian-minimal-settings/manifest.json
.obsidian/plugins/obsidian-scroll-to-top-plugin/main.js
.obsidian/plugins/obsidian-scroll-to-top-plugin/manifest.json
.obsidian/plugins/obsidian-scroll-to-top-plugin/styles.css
.obsidian/plugins/pinned-notes/main.js
.obsidian/plugins/pinned-notes/manifest.json
.obsidian/plugins/remember-cursor-position/cursor-positions.json
.obsidian/plugins/remember-cursor-position/main.js
.obsidian/plugins/remember-cursor-position/manifest.json
.obsidian/note-composer.json
.obsidian/page-preview.json
.obsidian/plugins/notebook-navigator/data.json
.obsidian/plugins/notebook-navigator/main.js
.obsidian/plugins/notebook-navigator/manifest.json
.obsidian/plugins/notebook-navigator/styles.css
old-index.html
.obsidian/hotkeys.json
.obsidian/plugins/obsidian-quiet-outline/data.json
.obsidian/plugins/obsidian-quiet-outline/main.js
.obsidian/plugins/obsidian-quiet-outline/manifest.json
.obsidian/plugins/obsidian-quiet-outline/styles.css
.obsidian/plugins/obsidian-tasks-plugin/data.json
Tasks Plugin - Review and check your Statuses 2025-11-09 16-46-19.md
.obsidian/plugins/obsidian-quiet-outline/markdown-states.json
