*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/plugins/draft-indicator/main.js
.obsidian/plugins/draft-indicator/manifest.json
.obsidian/plugins/draft-indicator/styles.css
.obsidian/plugins/obsidian-auto-link-title/data.json
.obsidian/plugins/obsidian-auto-link-title/main.js
.obsidian/plugins/obsidian-auto-link-title/manifest.json
.obsidian/plugins/obsidian-auto-link-title/styles.css
.obsidian/plugins/tag-wrangler/main.js
.obsidian/plugins/tag-wrangler/manifest.json
.obsidian/themes/Minimal/manifest.json
.obsidian/themes/Minimal/theme.css
.obsidian/workspace.json
