*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/plugins/draft-indicator/main.js
.obsidian/plugins/draft-indicator/manifest.json
.obsidian/plugins/draft-indicator/styles.css
.obsidian/plugins/obsidian-auto-link-title/data.json
.obsidian/plugins/obsidian-auto-link-title/main.js
.obsidian/plugins/obsidian-auto-link-title/manifest.json
.obsidian/plugins/obsidian-auto-link-title/styles.css
.obsidian/plugins/tag-wrangler/main.js
.obsidian/plugins/tag-wrangler/manifest.json
.obsidian/themes/Minimal/manifest.json
.obsidian/themes/Minimal/theme.css
.obsidian/workspace.json
.obsidian/backlink.json
.obsidian/plugins/obsidian-style-settings/main.js
.obsidian/plugins/obsidian-style-settings/manifest.json
.obsidian/plugins/obsidian-style-settings/styles.css
.obsidian/themes/Dracula for Obsidian/manifest.json
.obsidian/themes/Dracula for Obsidian/theme.css
.obsidian/plugins/calendar/data.json
.obsidian/plugins/calendar/main.js
.obsidian/plugins/calendar/manifest.json
.obsidian/plugins/obsidian-full-calendar/data.json
.obsidian/plugins/obsidian-full-calendar/main.js
.obsidian/plugins/obsidian-full-calendar/manifest.json
.obsidian/plugins/obsidian-full-calendar/styles.css
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/recent-files-obsidian/main.js
.obsidian/plugins/recent-files-obsidian/manifest.json
.obsidian/plugins/recent-files-obsidian/styles.css
.obsidian/templates.json
_basees/Posts.md
_templates/Post Template.md
_templates/Posts.base
