<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      <a href="{{ '/' | relative_url }}" itemprop="item">
        <span itemprop="name">Home</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>

    {% if page.collection == "posts" %}
    <li class="sep" aria-hidden="true">/</li>
    <li
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      <a href="{{ '/essays/' | relative_url }}" itemprop="item">
        <span itemprop="name">Essays</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>

    {% elsif page.breadcrumb_parent_title and page.breadcrumb_parent_url %}
    <li class="sep" aria-hidden="true">/</li>
    <li
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      <a href="{{ page.breadcrumb_parent_url | relative_url }}" itemprop="item">
        <span itemprop="name">{{ page.breadcrumb_parent_title }}</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>

    <li class="sep" aria-hidden="true">/</li>
    <li
      class="current"
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      <span itemprop="name"
        >{{ page.breadcrumb_title | default: page.title }}</span
      >
      <meta itemprop="position" content="3" />
    </li>

    {% else %}
    <li class="sep" aria-hidden="true">/</li>
    <li
      class="current"
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      <span itemprop="name"
        >{{ page.breadcrumb_title | default: page.title }}</span
      >
      <meta itemprop="position" content="2" />
    </li>
    {% endif %}
  </ol>
</nav>
