<nav class="breadcrumbs">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      {% if page.collection == 'posts' %}
          <span class="sep"> › </span>
          <a href="{{ '/blog/' | relative_url }}">Blog</a></li>
      {% endif %}
      {%- if page.breadcrumb_parent_url: == '/projects/' -%}
      <span class="sep"> › </span>
      <a href="{{ '/projects/' | relative_url }}">Projects</a>
      {%- endif -%}
      {%- if page.breadcrumb_parent_url: == '/courses/' -%}
      <span class="sep"> › </span>
      <a href="{{ '/courses/' | relative_url }}">Courses</a>
      {%- endif -%}
      <meta itemprop="position" content="{{ i }}" />
    </li>
  </ol>
</nav>
