
<footer class="footer py-4 js-page-footer">
  <div class="main">

    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == ‘organization’ -%}
      {%- assign _site_author_itemtype = ‘http://schema.org/Organization’ -%}
    {%- else -%}
      {%- assign _site_author_itemtype = ‘http://schema.org/Person’ -%}
    {%- endif -%}

    <div itemscope itemtype="{{ _site_author_itemtype }}">
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: ’/’-%}
      {%- include snippets/get-nav-url.html path=_site_author_url -%}
      {%- assign _site_author_url = __return -%}
      <meta itemprop="url" content="{{ _site_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}
    </div>
    <div class="site-info mt-2">
      <p><a href="https://christophersherrod.com/newsletter/">Receive my updates</a></p>
      <p>Follow me via <a href="https://christophersherrod.com/newsletter/">email</a>, <a href="https://christophersherrod.com/feed.xml">RSS</a>, <a href="https://www.instagram.com/christophersherrod/">Instagram</a>, <a href="https://pkm.social/@chris">Mastodon</a>, <a href="https://x.com/chrissherrod">X/Twitter</a>, <a href="https://github.com/clsherrod">Github</a></p>
    </div>
    <div class="site-info mt-2">
      <div>
        © {{ site.title }} 2024
      </div>
    </div>
  </div>
</footer>