<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
    <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %} {% if site.footer.links %} {% for link in site.footer.links %}
    {% if link.label and link.url %}
    <li>
      <a href="{{ link.url }}" rel="nofollow noopener noreferrer"
        ><i
          class="{{ link.icon | default: 'fas fa-link' }}"
          aria-hidden="true"
        ></i>
        {{ link.label }}</a
      >
    </li>
    {% endif %} {% endfor %} {% endif %} {% unless site.atom_feed.hide %}
    <li>
      <a
        href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"
        ><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{
        site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a
      >
    </li>
    {% endunless %}
  </ul>
</div>

<div class="page__footer-copyright">
  <a href="https://christophersherrod.com/copyright/">Copyright &copy; 2000-2025 Christopher Sherrod</a> |
  Technology specs at <a href="https://christophersherrod.com/colophon/" rel="nofollow">Colophon</a> |
  Created by <a href="https://whodefinesyou.com">Who Defines You - Web Agency</a>.
</div>